* {
    box-sizing: border-box;
    margin: 0 auto;
}


body{
    margin: 100px;
    font-size: 50px;
}

#guessed-numbers, 
#u-guess {
    font-size: 30px;
    font-weight: bold;
}

.d-none{
    display: none;
}